# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/.gitignore
/src/main/java/JGit/Account.kt
build/classes/
build/kotlin/compileTestKotlin/caches-jvm/
build/kotlin/sessions/